In [30]:
import pandas as pd

In [25]:
print(pd.__version__)

2.3.0

In [26]:
arquivo = 'arquivos/salarios.csv'

In [27]:
df = pd.read_csv(arquivo)

In [28]:
df.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88967.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

In [31]:
df['Position Title'].value_counts()

Position Title
POLICE OFFICER                            9489
FIREFIGHTER-EMT                           1191
SERGEANT                                  1138
FIREFIGHTER                                970
POLICE OFFICER (ASSIGNED AS DETECTIVE)     808
                                          ...
CITY COMPTROLLER                             1
ASST MANAGER OF POLICE PAYROLLS              1
HATE CRIME VICTIM ADVOCATE                   1
SECRETARY TO THE CHAIRMAN                    1
SENIOR SYSTEMS PROGRAMMER                    1
Name: count, Length: 1094, dtype: int64