# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

In [20]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
numeros = []

for n in range(0,11):
    numeros.append(n)

print(numeros,end=' ')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
gatos = ['Thor', 'Circe', 'Athena', 'Odisseu', 'Loki']

print(gatos)

['Thor', 'Circe', 'Athena', 'Odisseu', 'Loki']

In [1]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
a = 'Andréa '
b = 'Luz'
c = a + b

print(c)

Andréa Luz

In [5]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
numbers = (1, 2, 2, 3, 4, 4, 4, 5)
numbers.count(4)

3

In [6]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
zero = {}

print(zero)

{}

In [7]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
phone = {'xaiome':12,'samsung':50,'motorola':73}

print(phone)

{'xaiome': 12, 'samsung': 50, 'motorola': 73}

In [9]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
phone['nokia'] = 56

print(phone)

{'xaiome': 12, 'samsung': 50, 'motorola': 73, 'nokia': 56}

In [11]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
nao_sei = {'a':[1,2],'cdz':'seiya','katana':12}

print(nao_sei)

{'a': [1, 2], 'cdz': 'seiya', 'katana': 12}

In [18]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.
lista = ['seiya',(1,25),3.14,{'a':56,'b':45}]

print(lista)

['seiya', (1, 25), 3.14, {'a': 56, 'b': 45}]

In [21]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

print(frase[0:18])

Cientista de Dados